.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 64px;
}

.nav_input{
    width: 70%;
    height: 56px;
    padding: 0;
    border:  1px solid rgba(217, 217, 217, 1);;
    border-radius: 8px 0px 0px 8px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    text-indent: 12px;
    background-color: var(--white-text);
}

.nav_buttom_search{
    width: 10%;
    height: 56px; 
    background: var(--black-color);
    border: 1px solid var(--black-color);
    padding: 0px 16px;
    order: 1;
    border-radius: 0px 8px 8px 0px;
    font-size: 14px;
    color: var(--white-text)
    
}

.nav_chipSpace{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0% 10%;
}

.nav_filterChip{
    display: flex;
    flex-direction: row;
    gap: 3px;
    margin-top: 26px;
    padding: 1px 8px ;
    align-items: center;
    background-color: var(--black-color);
    border: 1px solid var(--input-border-color);
    border-radius: 8px;
    font-size: 14px;
    color: var(--white-text); 
    width: fit-content; 
    height: 24px;
    
}
.nav_p_chip{
    margin: 0;
}

.nav_close_tag{
    background-color: var(--black-color);
    color: var(--white-text);
    border:none
}